<div class="container">
	<header>
		<h1>{{name}}</h1>
	</header>

	<section>
		<form-example
			(emitSave) = emitSave($event)></form-example>
	</section>

	<div class="row">
		<div class="six columns">
			<section>
				<list-example 
					[exampleList] = "exampleList"
					(emitSelected) = emitSelected($event)>
				</list-example>
			</section>
		</div>
		<div class="six columns">
			<section>
				<detail-example
					[example] = "example"
					(emitDelete) = emitDelete($event)>
				</detail-example>
			</section>
		</div>
	</div>



</div>