<div>
    <h2>
        Attribute Directive Example
    </h2>
    <p attribute>Hodor! Hodor hodor, hodor... Hodor hodor HODOR hodor, hodor hodor, hodor, hodor hodor. Hodor! Hodor hodor, hodor - hodor hodor hodor hodor! Hodor, hodor, hodor. Hodor hodor; hodor hodor. Hodor. Hodor, hodor hodor. Hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor - HODOR hodor, hodor hodor. Hodor HODOR hodor, hodor hodor; hodor hodor hodor; hodor hodor hodor! Hodor! Hodor hodor, hodor hodor, hodor, hodor hodor. Hodor hodor - hodor hodor hodor? </p>
</div>

<div>
    <h2>
        Structural Directive Example
    </h2>
    <p *structural="5000">Hodor! Hodor hodor, hodor... Hodor hodor HODOR hodor, hodor hodor, hodor, hodor hodor. Hodor! Hodor hodor, hodor - hodor hodor hodor hodor! Hodor, hodor, hodor. Hodor hodor; hodor hodor. Hodor. Hodor, hodor hodor. Hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor - HODOR hodor, hodor hodor. Hodor HODOR hodor, hodor hodor; hodor hodor hodor; hodor hodor hodor! Hodor! Hodor hodor, hodor hodor, hodor, hodor hodor. Hodor hodor - hodor hodor hodor? </p>
</div>