<button class="icon" (click)="changeOrder()">
	<i 	class="fa"
		aria-hidden="true"
		[class.fa-sort-alpha-asc]="orderedSense !== 'asc'"
		[class.fa-sort-alpha-desc]="orderedSense === 'asc'"></i>
</button>

<div class="row">
	<div class="six columns">
		<section>
			<ul>
				<li *ngFor="let example of (exampleList | SortByName:orderedSense)" (click)="selected(example)">
					{{example.input1}}
				</li>
			</ul>
		</section>
	</div>
	<div class="six columns">
		<section>
			<detail-example
				[example] = "example"
				(emitDelete) = emitDelete($event)>
			</detail-example>
		</section>
	</div>
</div>